VITE_FIREBASE_API_KEY=AIzaSyA3Kht9prYMdJK0EjlU4M7h_e5c4a5r3jg
VITE_FIREBASE_AUTH_DOMAIN=shifted-chess.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://shifted-chess-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=shifted-chess
VITE_FIREBASE_STORAGE_BUCKET=shifted-chess.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=936292803310
VITE_FIREBASE_APP_ID=1:936292803310:web:bd44a62e235ddaa58109ff
